location             = "northeurope"
vm_size              = "Standard_B2ms"
admin_username       = "azureuser"
admin_ssh_public_key = "ssh-rsa AAAA... your-key-here"
admin_ip             = "1.2.3.4/32"
cloudflare_api_token = "your-cloudflare-api-token"
cloudflare_zone_id   = "your-cloudflare-zone-id"
domain               = "kevinryan.io"
acr_name             = "kevinryanacr"
github_repo          = "DevOpsKev/kevinryan-io"
github_token         = "ghp_your-github-pat"
cloudflare_zone_id_aiimmigrants = "your-aiimmigrants-cloudflare-zone-id"
auth0_secret          = "your-openssl-rand-hex-32-output"
auth0_issuer_base_url = "https://devopskev.eu.auth0.com"
auth0_client_id       = "your-auth0-client-id"
auth0_client_secret   = "your-auth0-client-secret"
auth0_domain          = "your-tenant.eu.auth0.com"