location                             = "northeurope"
vm_size                              = "Standard_B2ms"
admin_username                       = "azureuser"
admin_ssh_public_key                 = "ssh-rsa AAAA... your-key-here"
admin_ip                             = "1.2.3.4/32"
cloudflare_api_token                 = "your-cloudflare-api-token"
cloudflare_zone_id                   = "your-cloudflare-zone-id"
domain                               = "kevinryan.io"
acr_name                             = "kevinryanacr"
github_repo                          = "DevOpsKev/kevinryan-io"
github_token                         = "ghp_your-github-pat"
cloudflare_zone_id_aiimmigrants      = "297b223a1bd3a470375576e56df1ccfb"
cloudflare_zone_id_specmcp           = "ac792b5383295d00f78e949b3379e5c8"
cloudflare_zone_id_sddbook           = "d7ca4754dcce97f82af8263c674575ee"
cloudflare_zone_id_distributedequity = "fc0d63db19fb8cee0f964911038c0286"
auth0_secret                         = "your-openssl-rand-hex-32-output"
auth0_issuer_base_url                = "https://devopskev.eu.auth0.com"
auth0_client_id                      = "your-auth0-client-id"
auth0_client_secret                  = "your-auth0-client-secret"
auth0_domain                         = "your-tenant.eu.auth0.com"
anthropic_api_key                    = "your-anthropic-api-key"